{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "quoteProps": "consistent",
  "endOfLine": "lf",
  "trailingComma": "all",
  "importOrder": ["^@brunhild/(.*)$", "^[./]"],
  "importOrderSeparation": false,
  "experimentalBabelParserPluginsList": ["jsx", "typescript"]
}
